.navbar {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.2);
  padding: 0 15px;
}

.navbar .header {
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.nav-btn {
  border: none;
  background-color: rgb(28, 24, 24);
  color: white;
  padding: 10px 12px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.user-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.greet-user, .coins-info {
  font-size: 1.1rem;
}

.txt-bold {
  font-weight: 600;
}